Repository Lepaya/data-slack-client: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, flake8, pydocstyle, mypy

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
  - id: isort
    name: isort
    stages: [commit]
    language: system
    entry: pipenv run isort --check
    types: [python]

  - id: black
    name: black
    stages: [ commit ]
    language: system
    entry: pipenv run black --check
    types: [ python ]

  - id: flake8
    name: flake8
    stages: [commit]
    language: system
    entry: pipenv run flake8 --max-line-length 120
    types: [python]
    exclude: setup.py

  - id: pydocstyle
    name: pydocstyle
    stages: [commit]
    language: system
    entry: pipenv run pydocstyle
    types: [python]
    exclude: setup.py

  - id: mypy
    name: mypy
    stages: [commit]
    language: system
    entry: pipenv run mypy .
    types: [python]
    pass_filenames: false
    args: [--ignore-missing-imports]

- repo: https://github.com/sourcery-ai/sourcery
  rev: v1.0.4
  hooks:
    - id: sourcery
      # * review only changed lines:
      # * omit the summary
      args: [--diff=git diff HEAD, --no-summary]

update ci name
  .github/workflows/ci.yaml
Due: none

Do not send when developing locally
  .pre-commit-config.yaml
  lepaya_python_slackclient/slack_client.py
Due: isort, black, flake8, pydocstyle, mypy

Add bumpversion
  .bumpversion.cfg
  .gitignore
  setup.py
Due: isort, black, mypy

Add bumpversion
  setup.py
Due: isort, black, mypy

Bump version: 4.0.0 → 4.0.1
  .bumpversion.cfg
  setup.py
Due: isort, black, mypy

Do not send when developing locally
  data_slack_client/slack_client.py
Due: isort, black, flake8, pydocstyle, mypy

Bump version: 4.0.1 → 4.0.2
  .bumpversion.cfg
  setup.py
Due: isort, black, mypy

Update README.md
  README.md
Due: none

update pipfile lock
  Pipfile.lock
Due: none

fix send_to_slack flag
  data_slack_client/slack_client.py
Due: isort, black, flake8, pydocstyle, mypy

add bumpversion for dev
  Pipfile
  Pipfile.lock
Due: none

Bump version: 4.0.2 → 4.1.0
  .bumpversion.cfg
  setup.py
Due: isort, black, mypy

Update ci.yaml
  .github/workflows/ci.yaml
Due: none

Do nothing if send to slack is false
  data_slack_client/slack_client.py
Due: isort, black, flake8, pydocstyle, mypy

add bumpversion usage doc
  docs/bumpversion_usage.txt
Due: none

Bump version: 4.1.0 → 4.2.0
  .bumpversion.cfg
  setup.py
Due: isort, black, mypy

print block message
  data_slack_client/slack_client.py
Due: isort, black, flake8, pydocstyle, mypy

update tests with env var
  tests/integration/test_slack_client.py
  tests/unit/test_slack_client_mock.py
Due: isort, black, flake8, pydocstyle, mypy

Bump version: 4.2.0 → 4.3.0
  .bumpversion.cfg
  setup.py
Due: isort, black, mypy

fix-precommit
  tests/integration/test_slack_client.py
  tests/unit/test_slack_client_mock.py
Due: isort, black, flake8, pydocstyle, mypy

fix block response handling
  data_slack_client/slack_client.py
Due: isort, black, flake8, pydocstyle, mypy

Bump version: 4.3.0 → 4.4.0
  .bumpversion.cfg
  setup.py
Due: isort, black, mypy
