Repository Lepaya/data-slack-client: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, flake8, pydocstyle, mypy

isort:
  name: isort
  stages:
  - commit
  language: system
  entry: pipenv run isort --check

black:
  name: black
  stages:
  - commit
  language: system
  entry: pipenv run black --check

flake8:
  name: flake8
  stages:
  - commit
  language: system
  entry: pipenv run flake8 --max-line-length 120

pydocstyle:
  name: pydocstyle
  stages:
  - commit
  language: system
  entry: pipenv run pydocstyle

mypy:
  name: mypy
  stages:
  - commit
  language: system
  entry: pipenv run mypy .
  pass_filenames: false
  args:
  - --ignore-missing-imports

add package init files
  tests/integration/__init__.py
  tests/integration/configs/__init__.py
  tests/unit/__init__.py
Due: isort, black, flake8, pydocstyle, mypy

add config yaml file
  tests/integration/configs/config.yml
Due: none

add config loader
  tests/integration/configs/config_loader.py
Due: isort, black, flake8, pydocstyle, mypy

linter auto-update
  setup.py
Due: isort, black, mypy

and add init block arg and fix KeyError
  data_slack_client/slack_client.py
Due: isort, black, flake8, pydocstyle, mypy

add integration test class
  tests/integration/test_slack_client.py
Due: isort, black, flake8, pydocstyle, mypy

add unit test
  tests/unit/test_slack_client_mock.py
Due: isort, black, flake8, pydocstyle, mypy

optimize imports
  tests/unit/test_slack_client_mock.py
Due: isort, black, flake8, pydocstyle, mypy

add logging helper functions
  data_slack_client/helpers/__init__.py
  data_slack_client/helpers/logging_helper.py
Due: isort, black, flake8, pydocstyle, mypy

update logging and error handling
  data_slack_client/slack_client.py
Due: isort, black, flake8, pydocstyle, mypy

add invalid user id test
  tests/integration/test_slack_client.py
Due: isort, black, flake8, pydocstyle, mypy

Update readme 2.0
  README.md
Due: none

Handle RatelIMIT ERROR
  data_slack_client/slack_client.py
Due: isort, black, flake8, pydocstyle, mypy

update package version to 2.1
  README.md
  setup.py
Due: isort, black, mypy

Add extra slack channel to be able to send messages to multiple slack channels when required
  data_slack_client/slack_client.py
Due: isort, black, flake8, pydocstyle, mypy

update gitignore
  .gitignore
Due: none

update package version
  README.md
  setup.py
Due: isort, black, mypy

add instance variable -header, refactr vars, and add optional block param to block message -> update to v3.0
  README.md
  data_slack_client/slack_client.py
  setup.py
Due: isort, black, flake8, pydocstyle, mypy

fix tests
  tests/integration/test_slack_client.py
  tests/unit/test_slack_client_mock.py
Due: isort, black, flake8, pydocstyle, mypy

fix arg name
  data_slack_client/slack_client.py
Due: isort, black, flake8, pydocstyle, mypy

add pre-commit config
  .pre-commit-config.yaml
Due: none

update pipfiles
  Pipfile
  Pipfile.lock
Due: none

update ci to run tests and pre commit
  .github/workflows/run-tests.yaml
Due: none

update ci
  .github/workflows/ci.yaml
Due: none

add functionality to add as many stakeholders as required in class arg
  data_slack_client/slack_client.py
Due: isort, black, flake8, pydocstyle, mypy

update config to include only bot token
  data_slack_client/models/config_model.py
Due: isort, black, flake8, pydocstyle, mypy

update tests
  tests/integration/test_slack_client.py
  tests/unit/test_slack_client_mock.py
Due: isort, black, flake8, pydocstyle, mypy

remove unused configs
  tests/integration/configs/config.yml
Due: none

update readme
  README.md
Due: none

update package version
  setup.py
Due: isort, black, mypy

update doc
  data_slack_client/slack_client.py
Due: isort, black, flake8, pydocstyle, mypy

fix pre-commit
  data_slack_client/slack_client.py
Due: isort, black, flake8, pydocstyle, mypy

remove assertion
  data_slack_client/slack_client.py
Due: isort, black, flake8, pydocstyle, mypy

fix send-update logic
  data_slack_client/slack_client.py
Due: isort, black, flake8, pydocstyle, mypy

fix bug
  data_slack_client/slack_client.py
Due: isort, black, flake8, pydocstyle, mypy

test
  data_slack_client/slack_client.py
Due: isort, black, flake8, pydocstyle, mypy

update pre-commit config
  .pre-commit-config.yaml
Due: none

fix pre-commit errors
  data_slack_client/slack_client.py
  tests/integration/configs/config_loader.py
  tests/integration/test_slack_client.py
  tests/unit/test_slack_client_mock.py
Due: isort, black, flake8, pydocstyle, mypy

Path conditions:
  isort: any of: \.py$
  black: any of: \.py$
  flake8: any of: \.py$, but not: setup.py
  pydocstyle: any of: \.py$, but not: setup.py
  mypy: any of: \.py$
